body{
background-color: rgb(199, 235, 245) !important;

}

.col-md-7{
   margin-top: 100px !important;
   padding: 20px !important;
    color: white !important;
    border: 1.5px solid white;
    border-radius: 18px;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
li{
    list-style-type: none;
}
.btn{
    margin-top: 20px;
}
input , label{
    margin: 8px;
    font-size: 18px;
    font-weight:600;
}